%h1= 'Kieran Allan'

%p
    = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. |
    Cras tempus tellus vel massa vulputate, id pretium ipsum sagittis. |
    Proin metus mauris, suscipit sed odio a, faucibus ultrices felis. |
    Aenean id mauris et leo cursus viverra. Nulla facilisi. Duis non |
    convallis erat. Praesent ultrices tellus sed lectus interdum |
    fermentum. Nunc commodo sit amet purus sit amet mattis. Mauris |
    condimentum dapibus elit, venenatis malesuada ante congue quis." |

%p
    = "Mauris et nibh a augue mattis pretium. Sed ut risus orci. |
    Pellentesque habitant morbi tristique senectus et netus et |
    malesuada fames ac turpis egestas. Nullam accumsan massa quis |
    suscipit feugiat. Pellentesque habitant morbi tristique senectus |
    et netus et malesuada fames ac turpis egestas. Cras et ullamcorper |
    erat, in lobortis eros. Pellentesque fermentum mauris enim, vel |
    pulvinar magna consequat vel. In facilisis pretium congue. |
    estibulum tincidunt commodo ante ut varius. Orci varius natoque |
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. |
    Vivamus rutrum ante a dui molestie finibus. Vivamus at sollicitudin urna." |
